<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>admin</title>
    <style>
        body{
            margin: 0;
            width: 100%;
            min-height: 100vh;
        }
        main{
            height: 100%;
        }
        #login-form{
            box-sizing: border-box;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 400px;
            height: 400px;
            padding: 32px;
            margin: 0 auto;
        }
        button[type='submit']{
            padding: 10px;
            background-color: #025aa5;
            color: white;
            font-size: 1.2em;
            border-radius: 5px;
            border: 1px solid #fff;
            transition-duration: 0.3s;
        }
        button[type='submit']:hover{
            background-color: #ffffff;
            color: #025aa5;
            border: 1px solid #025aa5;
            transition-duration: 0.3s;
            cursor: pointer;
        }
        input{
            box-sizing: border-box;
            padding: 5px;
            margin: 10px;
            border: none;
            font-size: 1.3em;
            border-bottom: 1px solid rgba(0,0,0,0.5);
        }
        #btn_submit {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <main>
        <form id="login-form" action="/admin/auth" method="post">
            <input name="id" id="id" type="text" placeholder="ID">
            <input name="pw" id="pw" type="password" placeholder="Password">
            <button type="submit" id="btn_submit">login</button>
        </form>
    </main>
</body>
</html>