<!DOCTYPE html>
<html>
  <head>
    <title>Utaha.MOE</title>
    <link rel='stylesheet' href='css/MOE.css' />
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <header>
      <nav>

      </nav>
    </header>
    <main>
      <div class="cover">
          <div class="cover-background"></div>
          <div role="button" id="btn-show-cover-content" class="indicator normal plus" onclick="onClick('show-cover-content');">
            <svg height="100%" width="100%">
              <line x1="0%" y1="0%" x2="100%" y2="100%" style="stroke:rgb(0,0,0); stroke-width: 1;"/>
              <line x1="100%" y1="0%" x2="0%" y2="100%" style="stroke:rgb(0,0,0); stroke-width: 1;"/>
            </svg>
          </div>
          <div id="carousel-content-main" class="carousel cover-content">
            <a role="button" class="carousel-button normal left">
              <svg width="100%" height="100%">
                <line x1="0%" y1="50%" x2="50%" y2="10%" style="stroke:rgb(0,0,0); stroke-width: 2;"/>
                <line x1="0%" y1="50%" x2="50%" y2="90%" style="stroke:rgb(0,0,0); stroke-width: 2;"/>
              </svg>
            </a>
            <a role="button" class="carousel-button normal right">
              <svg width="100%" height="100%">
                <line x1="100%" y1="50%" x2="50%" y2="10%" style="stroke:rgb(0,0,0); stroke-width: 2;"/>
                <line x1="100%" y1="50%" x2="50%" y2="90%" style="stroke:rgb(0,0,0); stroke-width: 2;"/>
              </svg>
            </a>
            <div class="carousel cell"></div>
            <div class="carousel cell"></div>
            <div class="carousel cell"></div>
          </div>
      </div>
      <article class="character-article" style="background-color: blue;"></article>
      <article class="character-article" style="background-color: black;"></article>
      <article class="character-article" style="background-color: red;"></article>
      <article class="character-article" style="background-color: yellow;"></article>
      <article class="character-article" style="background-color: green;"></article>
      <article class="character-article" style="background-color: blue;"></article>
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="js/index.js"></script>
    <!--<script type="text/javascript" src="/js/MOE.js"></script>-->
  </body>
</html>
