<!DOCTYPE html>
<html>
  <head>
    <title>Utaha.MOE</title>
    <link rel='stylesheet' href='/css/MOE.css' />
  </head>
  <body>
    <header>
      <nav>

      </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="/js/MOE.js"></script>
  </body>
</html>
