<!DOCTYPE html>
<html>
  <head>
    <title>Utaha.MOE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>

      </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
  </body>
</html>
