html, body{
    width: 100vw;
    height: 100vh;
}

body{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans CJK KR', '나눔고딕', sans-serif;
    background-color: #f0f0f0;
}

header{
    position: fixed;
    top: 0;
    left: 0;
}

.header{
    z-index: 90;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    width: 100%;
    height: 68px;
}

.header-wrapper{
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: 0 100px;
    height: 100%;
    width: 100%;
}

.header-btn-back {
    display: none;
    width: 20px;
    line-height: 100%;
    margin-right: 10px;
}

.header-btn-back > img{
    width: 100%;
}

.header-title{
    height: 42px;
    line-height: 42px;
    font-size: 42px;
}

main{
    display: inline-block;
    width: 100%;
    margin-top: 88px;
}

section{
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 64px;
    margin: 0 auto;
}

.container{
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 1680px;
}

.card{
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 360px;
    height: 280px;
    margin: 30px 30px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    transition-duration: 0.3s;
}

.card:hover{
    box-shadow: 0 9px 15px rgba(0,0,0,0.16);
    transition-duration: 0.3s;
    cursor: pointer;
}

.card-image{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
    background-color: black;
    width: 100%;
    height: 200px;
}

.card-image > img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit:cover;
    border-radius: 8px 8px 0 0;
    overflow-y: hidden;
    background-color: black;
}

.card-title{
    margin-top: 10px;
    padding: 0 16px;
    font-size: 21px;
    font-weight: 700;
}

.card-description{
    padding: 0 16px;
    font-size: 19px;
    font-weight: 300;
}

.card-info-wrapper{
    width: 70%;
}

.card-category{
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 16px 16px 16px;
    width: 30%;
}

.card-category > img {
    height: 28px;
}

.dialog-container{
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    min-height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(220,220,220,0.8);
}
.dialog-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
}
.dialog{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 110;
    width: 600px;
    min-height: 750px;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}
.dialog-image{
    width: 100%;
    height: 300px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}
.dialog-image > img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit:cover;
}
.dialog-info-wrapper{
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
    word-break: break-all;
}
.dialog-title{
    margin: 10px 0 0 0;
    font-weight: 700;
    font-size: 28px;
}
.dialog-description{
    margin: 0 0 10px 0;
    font-weight: 300;
    font-size: 20px;
}
.dialog-cancel{
    position: fixed;
    top: 0;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    margin: 100px 16px;
    background-color: white;
    border-radius: 50%;
    transition-duration: 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
}

.dialog-cancel:hover{
    transition-duration: 0.3s;
    cursor: pointer;
    box-shadow: 0 6px 9px rgba(0,0,0,0.16);
}

.dialog-cancel > img {
    width: 60%;
    height: 60%;
}
/* color code */
.light-black{
    background-color: #1f1f1f;
}

.light-white-text{
    color: #eeeeee;
}

.white{
    background-color: white;
}
/* MOE code*/
.center{
    width: 600px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
@media (max-width : 1807px){
    .container{
        width: 1260px;
    }
}

@media (max-width : 1387px){
    .container{
        width: 841px;
    }
}

@media (max-width : 969px){
    .card{
        width: 540px;
        height: 420px;
        margin: 30px auto;
    }
    .card-image{
        height: 300px;
    }
}

@media (max-device-width: 480px){
    main{
        margin-top: 44px;
    }
    section{
        padding: 0;
    }
    .header{
        z-index: 120;
        height: 44px;
    }
    .header-title{
        font-size: 21px;
    }
    .header-wrapper{
        padding: 0 16px;
    }
    .dialog-container{
        background-color: rgba(0,0,0,0);
    }
    .dialog{
        width: 100%;
        margin: 44px 0 0 0;
        border-radius: 0;
    }
    .dialog-image{
        border-radius: 0;
    }
    .dialog-background{
        display: none;
    }
    .card{
        width: 100%;
        height: 280px;
        margin: 10px 16px;
    }
    .card-image{
        height: 200px;
    }
    .card-category > img{
        height: 24px;
    }
    .header-btn-back.show{
        display: block;
    }
}
